openapi: 3.2.0
info:
  title: imgauth — API di attestazione opere digitali Verify API
  version: 1.34.1
  description: 'Motore di attestazione Spazio Genesi ETS. Full privacy: l''impronta SHA-256 si calcola sul client, il file non viene mai inviato al server. Contratto reale in italiano (non tradurre i nomi campo). Vedi https://attestazione.spaziogenesi.org per l''interfaccia utente e https://github.com/SPAZIO-GENESI/imgauth per il codice sorgente (AGPL-3.0).'
  contact:
    name: Spazio Genesi ETS
    url: https://spaziogenesi.org
  license:
    name: AGPL-3.0-only
    url: https://github.com/SPAZIO-GENESI/imgauth/blob/main/LICENSE
servers:
- url: https://imgauth.spaziogenesi.org
  description: produzione
tags:
- name: Verify
paths:
  /api/verify:
    post:
      summary: Verifica hash dichiarato vs file, e firma HMAC
      description: '`image` (l''opera originale, non il PDF) è FACOLTATIVO dalla 1.15.0: senza, verifica solo la firma HMAC (il confronto hash/file è fatto dal client in locale).'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                hash:
                  type: string
                image:
                  type: string
                  format: binary
                attestazione:
                  type: string
                hmac:
                  type: string
                titolo:
                  type: string
                autore:
                  type: string
                anno:
                  type: string
                note:
                  type: string
              required:
              - hash
      responses:
        '200':
          description: Esito verifica
          content:
            application/json:
              schema:
                type: object
                properties:
                  hash_dichiarato:
                    type: string
                  hash_calcolato:
                    type:
                    - string
                    - 'null'
                  coincide:
                    type:
                    - boolean
                    - 'null'
                  hmac_valido:
                    type:
                    - boolean
                    - 'null'
        '429':
          description: Rate limit per-IP (60/60s)
      tags:
      - Verify
components:
  securitySchemes:
    agentBearer:
      type: http
      scheme: bearer
      bearerFormat: sg_k_<id>_<secret> oppure sg_s_<id>_<secret>
      description: 'Credenziale agente (P21): API key per convenzioni o session token da device flow. Sblocca SOLO il bypass della challenge Turnstile su POST /api/hash — HMAC, timestamp server e rate limit per-IP restano invariati. Facoltativa: senza header, il percorso Turnstile è identico a prima.'
    voucherHeader:
      type: apiKey
      in: header
      name: X-SG-Voucher
      description: 'Voucher firmato stateless (P25 §2.7): ottenuto SOLO tramite il flusso OAuth "Attesta con la tua email" sul sito — non c''è un endpoint pubblico in questo contratto che lo emette. TTL 8h. Bypassa il solo Turnstile su /api/hash e /api/cert-pdf, applica pool/tetto di un''eventuale convenzione o la fascia Professionale — stesso principio del bearer agente.'
